<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" type="jpg" href="https://i.etsystatic.com/15492164/r/il/c68c58/1537451425/il_570xN.1537451425_hsx7.jpg">
    <title>The Gossip Project</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

    
  <body>
  
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark rounded-bottom">
      <a class="navbar-brand" href="#">
        <img src="https://i.etsystatic.com/15492164/r/il/c68c58/1537451425/il_570xN.1537451425_hsx7.jpg" width="30" height="30" class="d-inline-block align-top" alt="">
        Gossip Project
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <span><%= link_to "Accueil", gossips_path, :class => "nav-item nav-link active" %></span><span class="sr-only">(current)</span>
          <span><%= link_to "Nouveau potin", new_gossip_path, :class => "nav-item nav-link" %></span><span class="sr-only">(current)</span>
          <span><%= link_to "Team", team_path, :class => "nav-item nav-link" %></span><span class="sr-only">(current)</span>
          <span><%= link_to "Contact", contact_path, :class => "nav-item nav-link" %></span><span class="sr-only">(current)</span>
        </div>
      </div>
      
      <ul class="navbar-nav navbar-right">

<!-- On va mettre un menu selon si user connecté ou non --!>
        <% if logged_in? == false %>
          <div class="btn-group">
            <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             Connexion / Inscription
            </button>
            <div class="dropdown-menu">
              <%= link_to "S'inscrire", new_user_path, class: 'dropdown-item'%>
              <div class="dropdown-divider"></div>
              <%= link_to "Se connecter", new_session_path, class: 'dropdown-item'%>
            </div>
          </div>
          
        <% else %>
          <div class="navbar-nav" style="height: 100%">
            <%= link_to "Se déconnecter", session_path(session.id), method: :delete, class: 'btn btn-danger' %>
          </div>
        <% end %>
      </ul>
    </nav>
    

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

<%= yield %>
  </body>
</html>

  