<% if @comment.errors.any? %>
  <div class="alert alert-danger" role="alert">
    Sorry, impossible de modifier le potin pour la (ou les) raison(s) suivante(s) :
    <ul>
      <% @comment.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="jumbotron jumbotron-success text-white bg-success border border-success rounded">
  <div class="container">
    <h1 class="display-3">Modifie le commentaire n°<%= @gossip.comments.all.index(@comment) + 1 %></h1>
    <p class="lead font-italic">Penses à bien remplir le champ !</p>
  </div>
</div>

<div class ="px-5 mt-5">
  <%= form_for ([@gossip, @comment]) do |f| %>

    <div class="form-group lead mb-4">
      <label>Commentaire</label>
      <%= f.text_area :content, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.submit "Modifier le commentaire", class: 'btn btn-success' %>
    </div>

  <% end %>
</div>